<!DOCTYPE html>
<html>
<head>
  <title>Cropio</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render partial: '/shared/header' %>

<% flash.each do |key, value| %>
<div class="wrap">
  <div class="alert alert-<%= key %>"><%= value.html_safe %></div>
</div>
<% end %>

<div id="map"></div>
<%= yield %>

<%= yield :head %>
</body>
</html>
